/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* common start  */
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    /* text-align: justify; */
}
body{
    /* width: 1200px; */
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
   
}

/* common ends  */
/* header start */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  


}
.nav-menu li{
    display:inline-block;
    margin-left: 15px;
}
.nav-menu a{
    font-weight: 800;
    color: black;
    font-size: 1em;
}
/* header end */
/* section start one  */
.influence-sections{
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}
.influence-title{
    font-size:52px ;
}
.influence-section img{
  width: 440px;
  height: 414px;
  }
.influence-section{
  /* width: 50%; */
  margin-right: 50px;
}
@keyframes noracora{
    0%{
        width:196px ;
     
    }
    100%{
        width:210px ;
        height: 60px;
        background-color: orange;
        transform: rotate(3deg);
    }
}

.click-button{
background-color: rgb(214, 59, 137);
color: white;
font-size:16px;
margin-top: 20px;

width:196px ;
height: 44px;
border-radius: 25px;
border: none;

animation:noracora 1s ease-in-out 0.5s infinite alternate;
animation-play-state: running;
}
.click-button{
   
}

.click-button a{
    color: white;
    font-weight: 800;
}
.button-arrow{
    margin-left: 10px;
}

/* add section end one  */
/*add section two start  */
  .adds{
    display: grid;
    grid-template-columns:repeat(7,1fr);  
    margin: 10px 30px;
  
    box-shadow: 3px 3px 2px gray,-3px -3px 2px gray;
    padding: 30px 20px;
  }
/* section two start  */
/* colloection  section three start  */
.collection-title{
    text-align: center;
    font-size: 1.5em;
    margin-top: 100px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin: 30px 85px;
    padding: 5px 20px;
    
}
.collection-item{
    width: 329px;
    height: 476px;
   background-color: rgb(255, 253, 253);
   box-shadow: 1px 1px 10px #fff, -1px -1px 10px gray;
 
   border-radius: 15px;
}
.collection-btn{
     display: flex;
    justify-content: flex-end;
    
    

}
.collection-btn button{
    border: none;
    background-color: white;
    position: relative;
    right: 50px;
   
}
.collection-btn button a{
    font-size: 16px;
    color:rgb(214, 59, 137);
    font-weight: 800;
}
.item-banner, .item-details {
    margin: 20px 10px;
}
.item-banner img{
    width: 100%;
    height: 256px;
    border-radius: 10px;

}
 .item-details h2{
    margin: 10px 0;
}
.item-details h3{
    margin: 0 0 15px 0;
}
.rating .empty{
    color: rgb(219, 215, 215);
    font-size: 11px;
}
.rating .filled{
    color: #FB8200;
    font-size: 11px;

}


/* collection section three end  */
/* mega discount start   */
.mega-discount{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 30px;
    margin: 30px 80px;
}
.discount-title{
    text-align: center;

}
 .discount{
     background-color: rgb(248, 241, 248);
     /* width: 500px; */
     padding: 20px;
     border-radius: 20px;
     box-shadow: 1px 1px 20px rgb(199, 196, 196);
 }
 .discount li{
     margin: 50px 0;
     font-weight: bold;
     text-transform: uppercase;
     position: relative;
    
 }
 .discount li::before{
     content: " ";
     position: absolute;
     top: calc(100% + 5px);
     left: 0;

     background-color: rgb(124, 117, 117);
     width: 100%;
     height: 15px;
     border-radius: 100px;
 }
 .discount li::after{
    content: " ";
    position: absolute;
    top: calc(100% + 5px);
    left: 0;

    background-color:rgb(199, 42, 199) ;
    width: 0;
    height: 15px;
    border-radius: 100px;

    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: forword;
    
    animation-fill-mode: forwards;

 }

 .discount li.action-camera::after{
     animation-name: action-camera;
 }
 @keyframes action-camera{
    from{
        width: 0;
       background-color: orange;
        
    }
     to{
         width: 50%;
     }
 }
 .discount li.air-buds::after{
     animation-name: air-buds;
 }
 @keyframes air-buds{
    from{
        width: 0;
       background-color: orange;
        
    }
     to{
         width: 50%;
     }
 }
 .discount li.vlogging-camera::after{
     animation-name:vlogging-camera;
 }
 @keyframes vlogging-camera{
    from{
        width: 0;
       background-color: orange;
        
    }
     to{
         width: 50%;
     }
 }
 .discount li.drone::after{
     animation-name: drone;
 }
 @keyframes drone{
    from{
        width: 0;
       background-color: orange;
        
    }
     to{
         width: 50%;
     }
 }
 .discount li.microphone::after{
     animation-name:microphone;
 }
 @keyframes microphone{
    from{
        width: 0;
       background-color: orange;
        
    }
     to{
         width: 50%;
     }
 }
 .discount li.light-setup::after{
     animation-name: light-setup;
 }
 @keyframes light-setup{
    from{
        width: 0;
       background-color: orange;
        
    }
     to{
         width: 50%;
     }
 }
 .discount li.flex-tripod::after{
     animation-name:flex-tripod;
 }
 @keyframes flex-tripod{
    from{
        width: 0;
       background-color: orange;
        
    }
     to{
         width: 50%;
     }
 }
 .discount li.photoshoot-set::after{
     animation-name: fhotoshoot-set;
 }
 @keyframes fhotoshoot-set{
    from{
        width: 0;
       background-color: orange;
        
    }
     to{
         width: 50%;
     }
 }

/* mega discount end  */

/* footer start  */
footer{
    background-color: black;
    color: white;
    padding: 50px 0;
   
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-title, .footer-copyright, .social-menu{
    padding: 7px 0;
}
.menu-icon{
    font-size: 2.5em;
    margin: 0 5px;
    background-color: rgb(202, 186, 186);
    border-radius: 10px;
    box-shadow: 1px 1px 2px white,-1px -1px 2px white;
}
.fa-facebook{
    color: #3b5998;
   
}
.fa-youtube{
    color: #c4302b;
   
}
.fa-twitter{
    color: #00acee;
   
}
.fa-instagram{
    color: #c4302b;
   
}
/* footer end  */
/* ............media quarry ..............*/
           /* for mobile  */
@media screen and (max-width:688px){
    .container{
        width: 70%;
        margin: 0 auto;
     
    }
    header{
        display: flex;
        flex-direction: column;
    }
    .influence-sections{
      
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 40px 0;
    }
    .influence-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px ;
    }
    .influence-title{
        font-size:28px ;
        margin-bottom: 20px;
    }
    .influence-section, .influence-para {
        text-align: justify;
        color: rgb(71, 67, 67);
        font-weight: 700;
    }
    .influence-section img{
        width:257px ;
        height: 257px;
    }
    .adds{
        display:flex;
        flex-wrap: wrap;
       
      }
      .add{
          margin: 0 15px;
      }
      .collections{
        display: grid;
        grid-template-columns: repeat(1,1fr); 
        margin: 30px 0;
        padding: 5px 0;
    }
    .collection-btn button{
        border: none;
        background-color: white;
        position: relative;
        right: 100px;
       
    }
    

    .mega-discount{
       grid-template-columns: repeat(1,1fr);
       grid-row-gap: 18px;
    }
    .discount-title{
        margin-top: 30px;
    }
    .discount{
        /* width: 500px; */
    }
}

/* for tablet devise */
@media screen and (min-width:688px) and (max-width:992px){
    .container{
        width: 90%;
        margin: 0 auto;
     
    }
    header{
        display: flex;
        flex-direction: column;
    }
    .influence-sections{
        /* display: grid;
        grid-template-columns: repeat(2,1fr); */
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 40px 0;
    }
    .influence-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px ;
    }
    .adds{
        display:flex;
        flex-wrap: wrap;
       
      }
      .collections{
        display: grid;
        grid-template-columns: repeat(2,1fr); 
        margin: 30px 0;
        padding: 5px 0;
    }
    .mega-discount{
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 18px;
     }
}